html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0 auto;
}
.container {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
p,
a {
  color: white;
}
h1 {
  font-size: 7rem;
  font-family: 'Oswald', sans-serif;
}
a {
  font-size: 1.8rem;
}
header {
  background-image: url("../components/images/hero-image.jpg");
}
header .nav-container {
  display: flex;
  justify-content: space-between;
}
header .nav-container .hercules-logo {
  margin: 47px 0 0 83px;
}
header .nav-container nav {
  margin-top: 47px;
}
header .nav-container nav a {
  text-decoration: none;
  padding-right: 60px;
}
header .nav-container nav a:last-of-type {
  margin-right: 75px;
}
header .intro-tagline {
  margin-left: 110px;
  margin-top: 170px;
  line-height: 50%;
}
header .intro-tagline h1 {
  letter-spacing: 4px;
}
header .intro-tagline h3 {
  font-size: 2.5rem;
  font-weight: normal;
}
.middle-images {
  display: flex;
  justify-content: space-around;
}
