.about-nav {
    display: flex;
    justify-content: space-between;

    .menu-icon {
        display: none;
        margin: 2%;

        @media @mobile {
            order: 0;
            display: flex;
            flex-direction: column;
            margin: 5px, 0 0 5px;
            z-index: 1;
        }

        .menu-bar {
            width: 30px;
            height: 5px;
            background:white;
            margin: 4px 0;
          }
      }

    .hercules-logo {
        margin: 48px 0 0 85px;
        
        @media @mobile {
            display: none;
        }
    }
    .hercules-gold-logo {
        display: none;

        @media @mobile {
            display: flex;
            margin-right: 2%;
            order: 2;
            z-index: 1;
        }
    }

    .mobile-menu {
        display: none;

        @media @mobile {
            padding-top: 15px;
            background-color: @medium-grey;
            border-bottom: 1px solid @yellow;
            position: absolute;
            display: flex;
            flex-direction: column;
            order: 1;
        }

        a {
            @media @mobile {
                text-align: center;
                font-size: 2.5rem;
                padding-bottom: 5%;
                color: @yellow;
            }
        a:first-child {
            @media @mobile {
                margin-top: 5px;
            }
        }
        }
    }
    nav {
        margin-top: 50px;

        a {
            text-decoration: none;
            padding-right: 60px;

            .hiddenMobile();
        }
        a:last-of-type {
            padding-right: 35px;
        }
    }
    .display-menu {
        transition: all 0.5s ease;
        height: 190px;
        width: 100%;
        
    }
    .hide-menu {
        transition: all 0.3s ease;
        height: 0;
        width: 0;
        overflow: hidden;

        a {
            display: none;
        }
        
    }
}