.bottom-section {
    margin-top: 120px;
    margin-bottom: 50px;
    display: flex;
    background: url('../components/images/Rectangle-Image.jpg');
    background-repeat:  no-repeat;
    height: 55vh;
    background-size: cover;

    @media (max-width: 1400px) {
        height: 50vh;
    }

    @media @tablet {
        height: 40vh;
    }
    
    @media @mobile {
        width: 98vw;
        height: 1100px;
        margin-bottom: 200px;
    }

    .left-phone {
        position: absolute;
        z-index: 1;
        margin-top: -7%;
        width: 35vw;
        height: auto;

        @media (max-width: 1400px) {
            width: 40vw
        }

        @media @tablet {
            width: 45vw;
        }

        @media @mobile {
            left: 1vw;
            width: 95vw;
            margin-top: -120px;
        }
    }
    .call-to-action {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 35%;
        margin-left: 33%;

        @media @mobile {
            width: 80vw;
            margin-left: 7vw;
        }
        h2 {
            color: white;

            @media @tablet {
                font-size: 2.8rem;
            }

            @media @mobile {
                line-height: 30px;
                font-size: 2.3rem;
            }
        }
        .btn {
            .button-style();

            @media @tablet {
                margin-right: 15%;
                width: 240px;
            }

            @media @mobile {
                margin-right: 8%;
            }
        }
    }
    .right-phone {
        position: absolute;
        right: 1vw;
        margin-top: -7%;
        z-index: 1;
        width: 35vw;
        height: auto;

        @media (max-width: 1400px) {
            width: 40vw
        }

        @media @tablet {
            width: 45vw;
        }

        @media @mobile {
            right: 7vw;
            width: 95vw;
            margin-top: 670px;
        }
    
    }
    
}