.index-header {
    max-width: 98vw;
    background-image:url(../components/images/Borders.svg), url(../components/images/hero-image.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    .nav-container {
        display: flex;
        justify-content: space-between;

        .hercules-logo {
            margin: 48px 0 0 85px;
        }

        nav {
            margin-top: 50px;

            a {
                text-decoration: none;
                padding-right: 60px;
            }
            a:last-of-type {
                padding-right: 35px;
            }
        }
    }  

    .intro-tagline {
        margin-bottom: 100px;
        h1 {
            margin-left: 117px;
            margin-top: 190px;
            margin-bottom: 20px;
            font-weight: 900;
            
        }
        h3 {
            margin-left: 117px;
            font-size: 2.5rem;
            font-weight: normal;
        }
        .btn {
            .button-style();
        }
    }
    
    .info-boxes {
        height: 193px;
        display: flex;
        .chevron-img {
            padding: @info-padding;
            width: 40%;
            text-align: center;

        }

        .small-quote {
            background: white;
            padding: @info-padding;
            width: 24%;
        }

        .workout-tracking {
            background-image: url(../components/images/sub-hero-image.jpg);
            padding: @info-padding;
            width: 24%;
            color: white;

        }

        .meet-us {
            text-align: center;
            padding: 80px 50px 40px 50px;
            background: white;
            width: 11%;

            a {
                color: black;
            }
        }


    }
    
    
}